.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: white;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}


.nav-logo-img {
  height: 65px;
  width: auto;
  max-height: 65px;
  object-fit: contain;
  display: block;
}

.navbar {
  min-height: 64px;
  align-items: center;
}


.nav-avatar {
  display: flex;
  align-items: center;
  gap: 45px;
}

.hamburger-menu {
  display: none;
}



@media screen and (max-width: 1280px) {
  .navbar{
    padding: 12px 50px;
  }

}

@media screen and (max-width: 900px) {
  .hamburger-menu {
    display: block;
  }

  .nav-logo-img{
    max-height: 45px;
  }

}
